:root {
  --main-font-family: "DM Sans";
  --main-font-weight: 500;
  --inter-font-family: "Inter";
  --normal: 400;
  --demi-bold: 600;
  --bold: 700;
  --main-blue-color: #4a3aff;
  --main-white-color: #fff;
  --main-mini-title-color: #121826;
  --main-text-black-color: #000;
  --main-input-placeholder-color: #6c727f;
  --main-neutral-gray-color: #6f6c90;
  --main-input-border-color: #d2d5da;
  --main-title-color: #170f49;
}